
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.content {
    margin-top: 70px;
}

.middle {
    vertical-align: middle !important;
}

.shrink {
    width:0.1%;
    white-space: nowrap;
}

.center {
    text-align: center;
    margin: 0 auto;
}
